build*/
.conan/
cmake-build*/
CMakeUserPresets.json
_build/
.conan/
.cache/
dist/
.DS_Store
.pod5
venv/
*.venv/
uv.lock
docs/public/
.tmp_pod5*
_version.py
*egg-info/
POD5Version.cmake
*.swp
test_package/CMakeUserPresets.json
.vscode/
.devcontainer/
__pycache__
python/Python.framework/
/fuzz/corpus_*
