[build-system]
requires = [
  "setuptools >= 61.0",
  "wheel",
  "setuptools_scm[toml]>=6.2",
]
build-backend = "setuptools.build_meta"


[project]
name = "pod5"
authors = [{name="Oxford Nanopore Technologies, Limited", email="support@nanoporetech.com"}]
readme = "README.md"
requires-python = "~= 3.7"
dynamic = ["version"]
description="Oxford Nanopore Technologies Pod5 File Format Python API and Tools"

keywords = ['nanopore']

classifiers=[
    'Environment :: Console',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Topic :: Scientific/Engineering :: Bio-Informatics',
]

dependencies = [
    "iso8601",
    "jsonschema",
    "lib_pod5 ~= 0.1.21dev0",
    "more_itertools",
    "numpy >= 1.20.0",
    "pyarrow ~= 11.0.0",
    "pytz",
    "packaging",
    "pandas",
    "h5py~=3.8.0",
    "vbz_h5py_plugin",
    "tqdm"
]

[project.optional-dependencies]
dev = [
  "black == 22.3.0",
  "mypy == 0.991",
  "pre-commit==v2.21.0",
  "pytest ~= 6.2",
  "pytest-cov ~= 3.0",
  "pytest-mock",
  "types-jsonschema",
  "types-setuptools",
  "types-pytz",
  "pandas-stubs",
]

[project.scripts]
pod5 = "pod5.tools.main:main"

[tool.setuptools.packages.find]
where = ["src"]
exclude = ["test*"]

[tool.setuptools_scm]
root = "../.."

[tool.black]
target-version = ["py37"]
